{% extends "layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Sprint 24
        <span class="govuk-caption-xl">[Description of sprint here]</span>

{{ govukDetails({
          summaryText: "Notes on this sprint",
          html: '
          <p>This sprint we:</p>

          <ul class="govuk-list  govuk-list--bullet">
              <li></li>
              <li></li>
              <li></li>
          </ul>'

                  }) }}




  <h3 class="govuk-heading-m">Link to pages</h3>
   <br>
  <ul class="govuk-list">
      <li><a class="govuk-link" href="/current/task-list">Tasklist</a></li>
      <li><a class="govuk-link" href="/current/evidence">Evidence</a></li>
      <li><a class="govuk-link" href="/current/evidence-detail">Evidence detail</a></li>
      <li><a class="govuk-link" href="/current/preparing-food">Preparing food</a></li>
      <li><a class="govuk-link" href="/current/create-query">Create query</a></li>
      <li><a class="govuk-link" href="/current/set-action">Set an action</a></li>
      <li><a class="govuk-link" href="/current/contact-claimant-action">Action/Query</a></li>
      <li><a class="govuk-link" href="/current/action-query-view">Action/Query view</a></li>
      <li><a class="govuk-link" href="/current/set-descriptor">Set descriptor</a></li>
      <li><a class="govuk-link" href="/current/preparing-food-descriptor">Descriptor within activity</a></li>
      <li><a class="govuk-link" href="/current/descriptor-justification">Descriptor justification</a></li>
  </ul>

  <h3 class="govuk-heading-m">Tasklist action variations</h3>
  <ul class="govuk-list">
        <li><a class="govuk-link" href="/current/task-list">Tasklist - no actions</a></li>
        <li><a class="govuk-link" href="/current/task-list-contact-claimant">Tasklist - contact claimant</a></li>
  </ul>

  <h3 class="govuk-heading-m">Test/experimental pages</h3>
  <ul class="govuk-list">
        <li><a class="govuk-link" href="/current/taking-nutrition">Taking nutrition</a></li>
        <li><a class="govuk-link" href="/current/create-query-activity-two">Create query</a></li>
  </ul>

    </div>
</div>


{% endblock %}
