{% extends "layout.html" %}

{% block pageTitle %}
Personal details
{% endblock %}

{% block main %}

    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
        <dl class="key-details-bar__key-details">
          <div class="key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dt class="key-details-bar__name">Jane Doe</dt>
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
            <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong>
          </div>
          <div class="key-details-bar__bottom-block">
            <dt>Date of birth:</dt>
            <dd>4 June 1972</dd>
          </div>
        </dl>
    </section>

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="personal-details">Personal details</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="conditions">Conditions</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="activities">Activities</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="summary">Questions and answers</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ready-to-make-next-step">Make a recommendation</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

  </div>
  <div class="govuk-width-container">
       <div class="govuk-grid-column-one-quarter">
           <nav class="moj-side-navigation" aria-label="Side navigation">
                <ul class="moj-side-navigation__list">
                 <li class="moj-side-navigation__item">
                   <a href="personal-details">Claimant</a>
                 </li>
                 <li class="moj-side-navigation__item moj-side-navigation__item--active">
                   <a href="health-professionals" aria-current="location">Health professionals</a>
                 </li>
                 <li class="moj-side-navigation__item">
                   <a href="support">Support and communication</a>
                 </li>
               </ul>
           </nav>
      </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <main class="govuk-main-wrapper " id="main-content" role="main">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Personal details </span>
              Health professionals
           </h1>



  <h2 class="govuk-heading-m">Consent</h2>
  <table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" width="42%">Can DWP contact your health and care professionals for information about you?</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Can your health and care professionals share information to support your claim?</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
  </table>
<br>
<h2 class="govuk-heading-m">Health professional 1</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Dr Camilla Stasiak</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">020 8291 7007</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">The Vale Medical Centre<br>
                                  195-197 Perry Vale<br>
                                  Forest Hill<br>
                                  London<br>
                                  SE23 2JF</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Health professional 2</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Mr Ramon Niekrash</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">020 8836 5435</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">Queen Elizabeth Hospital
    <br>Stadium Rd
    <br>Greenwich
    <br>London
    <br>SE18 4QH</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>


<h2 class="govuk-heading-m">Help and support</h2>
<table class="govuk-table">

<thead class="govuk-table__head"></thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Do you need help from someone else to communicate with us?</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Do you need help to fill in forms and understand letters?</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Is someone helping you with this claim?
</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Name of the person helping you with this claim?</td>
    <td class="govuk-table__cell">John Doe</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Alternative communication format</h2>
    <table class="govuk-table">
    <thead class="govuk-table__head"></thead>
    <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">Do you need communications in another format?</td>
        <td class="govuk-table__cell">No</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Which other format do you need?</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Format type</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
    </tbody>
    </table>

       </main>
</div>
</div>

     </div>

{% endblock %}
