{% extends "layout.html" %}
{% block main %}
<style>
  .navigation-secondary ul:after {
   content: "";
   display: block;
   clear: both;
 }

 .navigation-secondary {
   border-bottom: 1px solid #bfc1c3;
   margin: auto;
   max-width: 960px;
 }

 .navigation-secondary ul {
   margin: 0 auto;
   max-width: 960px;
   padding-left: 0;
 }

 .navigation-secondary li {
   float: left;
   list-style-type: none;
 }

 @media (max-width: 640px) {
   .navigation-secondary li {
     border: 0;
     width: 100%;
   }
 }

 .navigation-secondary a {
   display: block;
   padding: 15px;
 }

 .navigation-secondary a:visited {
   color: #005ea5;
 }

 .navigation-secondary a:hover {
   background-color: #f8f8f8;
 }

 .navigation-secondary .active {
   box-shadow: inset 0px -5px 0px 0px #005ea5;
   color: #0b0c0c;
   text-decoration: none;
 }

 .navigation-secondary .active:visited {
   color: #0b0c0c;
 }

  </style>

  <div class="govuk-width-container">
    <div class="column-full">
      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="cases-for-triage" class="active" aria-current="section">Cases for triage</a>
          </li>
          <li>
            <a href="ready-for-review">Ready for review</a>
          </li>
          <li>
            <a href="assigned-for-review">Assigned for review</a>
          </li>
          <li>
            <a href="review-completed">Review completed</a>
          </li>
        </ul>
      </nav>
      <p><br></p>
    </div>

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">


  <h1 class="govuk-heading-l">Cases for triage (2)</h1>

        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claimant name</th>
              <th scope="col" class="govuk-table__header">NINO</th>
              <th scope="col" class="govuk-table__header" aria-sort="ascending">Claim date</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">Jane Doe</a></td>
              <td class="govuk-table__cell">QQ 12 34 56 C</td>
              <td class="govuk-table__cell">20 November 2021</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#">John Smith</a></td>
              <td class="govuk-table__cell">QQ 12 34 56 C</td>
              <td class="govuk-table__cell">2 December 2021</td>
            </tr>

          </tbody>
        </table>





    </div>
  </div>
</div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      </dl>

{% endblock %}
