{% extends "layout.html" %}
{% block main %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-l">Search for a case
          <div id="email-hint" class="govuk-hint">
            Enter the claimant's National Insurance number.
          </div>
      </h1>

      <input class="govuk-input" id="search-name" name="search-name" type="text">
      <br>
      <br>

      {{ govukButton({
          text: "Search",
          href: "search-result"
      }) }}


<div class="govuk-grid-column-full-width">


</div>
    </div>
</div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      </dl>

</div>
    </div>
  </div>
{% endblock %}
