{% extends "layout.html" %}

{% block pageTitle %}
  PIP Case Review
{% endblock %}

{% set serviceName = "PIP Triage" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        PIP Case Review
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>
        [Description here]
      </p>


      {{ govukTable({
        caption: "Version history for current team",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version"
          },
          {
            text: "Date added"
          },
          {
            text: "Description"
          },
          {
            text: "Link"
          }
        ],
        rows: [
        [
        {
          text: "Sprint 24 (current)"
        },
        {
          text: "26 May 2021"
        },
        {
          text: "[Description here]"
        },
        {
          html: '<a href="/current/index">Go to sprint 24 (current)</a>'
        }

          ]
        ]
      }) }}

    </div>
</div>

{% endblock %}
