{% extends "layout.html" %}

{% block pageTitle %}
  PIP Case Review
{% endblock %}

{% set serviceName = "PIP case review" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        PIP Case Review
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <h1 class="govuk-heading-l">Latest version</h1>
      {{ govukTable({
        caption: "",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version name"
          },
          {
            text: "Date added"
          },
          {
            text: "Description"
          }
        ],
        rows: [
        [
        {
          text: "To be added"
        },
        {
          text: "To be added"
        },
        {
          text: "To be added"
        }
          ]
        ]
      }) }}

<h2 class="govuk-heading-m">Links to prototype</h2>
      {{ govukButton({
          text: "MVP prototype",
          href: "/version-one/minimum-viable-product/case-selector/cases-for-triage"
      }) }}
      {{ govukButton({
          text: "Work in progress prototype",
          href: "#"
      }) }}
<hr>
      <h2 class="govuk-heading-m">Link to sprint 41 work</h2>
      <p>Quick link for latest design before new versioning begins</p>

      {{ govukButton({
        text: "Sprint 41 MVP Design",
        classes: "govuk-button--secondary",
        href: "/sprint-41/minimum-viable-product/contact-details"
      }) }}
<hr>
      <h2 class="govuk-heading-m">Archived designs</h2>
      <p>The archived designs showcase a previous way of versioning
          along with the work that was undertaken from 26th May 2021 until
          02nd February 2022.</p>

      {{ govukButton({
        text: "Old sprint designs",
        classes: "govuk-button--secondary",
        href: "/old-sprints"
      }) }}



    </div>
</div>

{% endblock %}
