{% extends "layout.html" %}

{% block pageTitle %}
  PIP Case Review
{% endblock %}

{% set serviceName = "PIP Case Review" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        PIP Case Review
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>
        Prototype and design idea's for PIP Case Review
      </p>


      {{ govukTable({
        caption: "Version history for current team",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version"
          },
          {
            text: "Date added"
          },
          {
            text: "Description"
          },
          {
            text: "Link"
          }
        ],
        rows: [
        [
        {
          text: "Sprint 24/25 (current)"
        },
        {
          text: "26 May 2021"
        },
        {
          text: "Created a new prototype to house journeys related to PIP case review.
                  These journeys include creating queries, setting an action, viewing evidence, dealing with queries
                  and setting a descriptor.
                  These concepts will be used for user testing in Sprint 26 and iterated upon."
        },
        {
          html: '<a href="/current/index">Go to sprint 24/25 (current)</a>'
        }

          ]
        ]
      }) }}

    </div>
</div>

{% endblock %}
